page-home {
    .invalid {
        border: 1px solid #ea6153;
    }
    .col{
        font-size: 0.4em;
        border: think solid black;
        }
        .normal-head{
          font-weight: bold;
        }
}
